<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="PathInput" value="D:\Dev\Test" />
    <add key="PathOutput" value="C:\LOGPROCESS" />
    <add key="StationNo" value="FCT_FUJ" />
    <add key="ProcessName" value="BioStar V1.91" />
    <add key="BarcodeLength" value="10" />
    <add key="TOTAL" value="0" />
    <add key="PASS" value="0" />
    <add key="NG" value="0" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MESSystemDbContext"
         connectionString="data source=172.28.64.8\MSSQLPVS;initial catalog=UMC_MESDB_TEST;persist security info=True;user id=sa;password=$umcevn123;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>