
@{
    ViewBag.Title = "Vip";
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">Vip guest registration</li>
    </ol>
    <div class="col-lg-12">
        <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td colspan="3" class="bg-vip">
                <span class="vip">VIP</span>
            </td>
            <td colspan="16">
                <div class="text-center-bold">
                    <span>来訪者申請書【UMCベトナム</span><br>
                    <span>
                            MẪU ĐĂNG KÝ
                            KHÁCH ĐẾN UMC / Application form for customer coming to UMC
                        </span>
                </div>
            </td>
            <td class="text-center">
                <strong style="padding: 3px; border: 1px solid black;">GA - 04 B</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="text-center-bold">
                    <strong>申請者</strong><br/>
                    <strong>Người đăng ký:</strong>
                </div>

            </td>
            <td colspan="4">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <strong>部署 Dept:</strong>
            </td>
            <td colspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <strong>申請日</strong>
                <strong>Ngày đăng ký / Apply Date:</strong>
            </td>
            <td colspan="5">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td class="bg-info" colspan="20">
                <div class="text-center-bold td-div-height-40">
                    UMC対応者 / ĐẠI DIỆN UMC / UMC representative アルファベットで記入ください
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>対応者</span><br/>
                    <span>Người tiếp khách</span>
                </div>
            </td>
            <td colspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>部署</span><br/>
                    <span>Bộ phận</span>
                </div>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="4">
                <div class="text-center-bold">
                    <span>連絡先（携帯電話）</span><br/>
                    <span>Điện thoại liên lạc</span>
                </div>
            </td>
            <td colspan="5">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>目的</span><br/>
                    <span>Mục đích đăng ký</span>
                </div>
            </td>
            <td colspan="8">
                <textarea class="form-control input-lg" style="width: 100%; max-width: 500px;"></textarea>
            </td>
            <td colspan="4">
                <div class="text-center-bold">
                    <span>作業場所（If repairing or Maintenace)</span><br/>
                    <span>Khu vực làm việc</span>
                </div>
            </td>
            <td colspan="6">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>お客様のお名前</span><br/>
                    <span>Tên khách hàng</span>
                </div>
            </td>
            <td colspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>役職</span><br/>
                    <span>Chức vụ</span>
                </div>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>

            <td colspan="1">喫 煙 有 無</td>
            <td colspan="1" class="text-center">有 無</td>
            <td colspan="2" rowspan="2">
                <div class="text-center">
                    <span>会 社 名</span><br/>
                    <span>Tên công ty</span>
                </div>
            </td>
            <td colspan="7" rowspan="2">
                <textarea class="form-control input-lg"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>お客様のお名前</span><br/>
                    <span>Tên khách hàng</span>
                </div>
            </td>
            <td colspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <div class="text-center-bold">
                    <span>役職</span><br/>
                    <span>Chức vụ</span>
                </div>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="1">喫 煙 有 無</td>
            <td colspan="1" class="text-center">有 無</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3">
                <div class="text-center-bold">
                    <span>人 数</span><br/>
                    <span>Số người đến</span>
                </div>
            </td>
            <td rowspan="3" colspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td rowspan="3" colspan="3">
                <div class="text-center-bold">
                    <span>来 日</span><br/>
                    <span>Ngày khách đến</span>
                </div>
            </td>
            <td colspan="2" rowspan="3">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="5" class="text-center">
                <strong>
                    来工時間 / Thời gian gặp
                </strong>
            </td>
            <td colspan="2" rowspan="3">
                <div class="text-center-bold">
                    <span>工場見学</span><br/>
                    <span>Factory Tour</span>
                </div>
            </td>
            <td colspan="3" rowspan="3">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <strong>到着時間 / Từ / From</strong>
            </td>
            <td colspan="3" class="text-center-bold">
                <strong>出発時間 / Đến / To</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr class="bg-vip">
            <td colspan="3">
                <div class="text-center-bold">
                    <span>工場見学コース</span><br/>
                    <span>Lộ trình thăm quan</span>
                </div>
            </td>
            <td colspan="8">&nbsp;</td>

            <td colspan="2">
                <div class="text-center-bold">
                    <span>案内者</span><br/>
                    <span>Người hướng dẫn</span>
                </div>
            </td>
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr class="bg-primary">
            <td colspan="20" class="text-center">
                <div class="td-div-height-40">
                    <strong>準備項目 / Công việc chuẩn bị</strong>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="bg-danger btn circle">1</span><strong>送迎 / Xe đưa đón khách</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="9">
                <span class="bg-danger btn circle">10</span>
                <strong>プロジェクター / Máy chiếu</strong>
            </td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td class="bg-info">
                <div class="text-center-bold">
                    <span>日付</span><br/>
                    <span>Ngày</span>
                </div>
            </td>
            <td class="bg-info">
                <div class="text-center-bold">
                    <span>時間</span><br />
                    <span>Giờ</span>
                </div>
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>出発地</span><br />
                    <span>Đi từ đâu</span>
                </div>
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>目的地</span><br />
                    <span>Đến đâu</span>
                </div>
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>便名</span><br />
                    <span>Mã chuyến bay</span>
                </div>
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>支払い</span><br />
                    <span>Thanh toán bởi</span>
                </div>
            </td>
            <td colspan="9">
                <span class="btn circle">11</span>
                <strong>プレゼン / Presentation 準備者 〈 ） 責任者（ ） 発表者（ )</strong>
            </td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="9">
                <span class="btn circle">12</span>
                <strong>会議室部屋番号 Phòng họp số ()</strong>
            </td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="9">
                <span class="btn circle">13</span>
                <strong>会社案内 / Sách giới thiệu về công ty</strong>
            </td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="10">
                <span class="btn circle">14</span>
                <strong>お客様の食事 / Chuẩn bị bữa ăn</strong>
            </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="2"><input type="text" class="form-control" /></td>
            <td colspan="4">ベトナム食/Cơm Việt</td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="4">日本食/Cơm Nhật</td>
            <td class="text-center">
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <span class="btn circle">3</span>
                <strong>宿泊予約 Đặt khách sạn</strong>
            </td>
            
            <td colspan="4">外注お弁当/ Obento</td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="3">
                食事の場所/Địa điểm ăn
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>ホテル名</span><br/>
                    <span>Tên khách sạn</span>
                </div>
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>チェックイン</span><br/>
                    <span>Ngày vào</span>
                </div> 
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>チェックアウト</span><br />
                    <span>Ngày ra</span>
                </div> 
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>部屋数</span><br />
                    <span>Số phòng</span>
                </div> 
            </td>
            <td colspan="2" class="bg-info">
                <div class="text-center-bold">
                    <span>支払い</span><br />
                    <span>Thanh toán bởi</span>
                </div>
            </td>
            <td colspan="4">お客様支払/Khách trả</td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="4">UMC支払/UMC trả</td>
            <td class="text-center">
                <input type="checkbox" />
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="10">
                <span class="btn circle">15</span>
                <strong>UMCスタッフ参加者の食事/Tên người ăn cơm cùng khách</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="10">
                <input class="form-control" type="text" style="max-width: 600px;"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">ベトナム食/Cơm Việt</td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="3">日本食/Cơm Nhật</td>
            <td class="text-center">
                <input type="checkbox" />
            </td>
            <td colspan="2">お弁当/Obento</td>
            <td class="text-center">
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">4</span>
                <strong>その他の予約/Other</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="2">食事スタート時間：Time</td>
            <td colspan="8">
                <input type="text" class="form-control" style="max-width: 500px;"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="text-center-bold">
                    <span>日付</span><br/>
                    <span>Ngày</span>
                </div>
            </td>
            <td colspan="2">
                <div class="text-center-bold">
                    <span>時間</span><br />
                    <span>Giờ</span>
                </div>
            </td>
            <td colspan="6">
                <div class="text-center-bold">
                    <span>内容</span>
                </div>
            </td>
            <td colspan="4">
                <span class="btn circle">16</span>
                <strong>防塵コート / Áo khách / Áo màu xanh ブルー</strong>
            </td>
            <td colspan="2" class="text-center">
                Nam<br>
                男用
            </td>
            <td class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="2" class="text-center">
                Nữ<br>
                女用
            </td>
            <td class="text-center">
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="6">
                <input type="text" class="form-control" />
            </td>
            <td colspan="3">
                <span class="btn circle">17</span>
                <strong>やるぞこーる/Hô UPS</strong>
            </td>
            <td colspan="1" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="4">場所/Địa điểm</td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
        </tr>
        <tr height="24" style="mso-height-source: userset; height: 18.0pt">
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
            <td colspan="6">
                <input type="text" class="form-control"/>
            </td>
            <td colspan="3">
                <span class="btn circle">18</span>
                <strong>ハイタッチ/Đập tay</strong>
            </td>
            <td colspan="1" class="text-center">
                <input type="checkbox"  />
            </td>
            <td colspan="4">場所/Địa điểm</td>
            <td colspan="2">
                <input type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">5</span>
                <strong>Welcomeボード / Biểu đón khách/ Welcome board</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="9">
                <span class="btn circle">19</span>
                <strong>赤じゅうたん/Thảm đỏ</strong>
            </td>
            <td colspan="1" class="text-center">
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td colspan="10"></td>
            <td colspan="4">
                <span class="btn circle">20</span>
                <strong>垂れ幕/Banner 内容/Nội dung</strong>
            </td>
            <td colspan="6">
                <input type="text" class="form-control"/>
            </td>
            
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">6</span>
                <strong>お土産 / Quà tặng</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="9">
                <span class="btn circle">21</span>
                <strong>色紙/Giấy lưu bút</strong>
            </td>
            <td colspan="1" class="text-center">
                <input type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">7</span>
                <strong>ID鍵/Thẻ mở cửa ra vào</strong>
            </td>
            <td class="text-center" colspan="2">
                <input type="checkbox"/>
            </td>
            <td colspan="3">
                <span class="btn circle">22</span>
                <strong>飲み物</strong>
            </td>
            <td colspan="1" class="text-center">
                <input type="checkbox" />
            </td>
            <td colspan="2">Vietnam Coffee</td>
            <td colspan="1" class="text-center">
                <input type="checkbox" />
            </td>
            <td colspan="2">Mango Juice</td>
            <td colspan="1" class="text-center">
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">8</span>
                <strong>パソコン / ＰＣ</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="3" rowspan="2" class="text-center">
                <strong>GA input</strong>
            </td>
            <td colspan="7" class="text-center">
                <strong>Người check</strong>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <span class="btn circle">9</span>
                <strong>スピーカー/Loa</strong>
            </td>
            <td colspan="2" class="text-center">
                <input type="checkbox"/>
            </td>
            <td colspan="10">&nbsp;</td>
        </tr>
        </tbody>

        </table>
    </div>
</div>
<style type="text/css">
    
     .col-lg-12 table {
         border: 1px solid #cdcdcd;
     }
    .col-lg-12 table tr td {
        padding: 2px;
    }
    .col-lg-12 table tr td .td-div-height-40 {
        height: 40px;
        line-height: 40px;
    }
    .bg-vip {
        background-color: gold;
        text-align: center;
    }
    span.vip {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: red;
    }
    .text-center-bold {
        text-align: center;
        font-weight: bold;
    }
    .circle {
        background-color: red;
        border: 3px solid gold;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 4px 0;
        font-size: 13px;
        line-height: 1.428571429;
        border-radius: 15px;
        font-weight: bolder;
        color: #fff;
        margin-right: 3px;
    }
</style>