<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>
    <system.webServer>
      <httpErrors errorMode="Detailed"/>
    </system.webServer>

  <!--<system.webServer>
      <httpErrors errorMode="Detailed"/>
    </system.webServer>--><!--
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>
  </configuration>-->
  <connectionStrings>
    <add name="StockDataEntities" connectionString="metadata=res://*/StockDataModel.csdl|res://*/StockDataModel.ssdl|res://*/StockDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.64.1;initial catalog=StockPMC-AC;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>