@model IEnumerable<Lib.Data.Customer>
<ul class="nav nav-list">
    <li class="active">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/fujixerox.png" style="max-width: 120px; height:30px; max-height:30px;" />
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/brother.png" style="max-width: 100px; max-height:20px;" />
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/canon.png" style="max-width: 100px; max-height:20px;" />
        </a>
        <b class="arrow"></b>
    </li>
</ul><!-- /.nav-list -->

