<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="PathInput" value="D:\Dev\Test2" />
    <add key="PathOutput" value="C:\LOGPROCESS" />
    <add key="StationNo" value="" />
    <add key="ProcessName" value="BioStar V1.91" />
    <add key="TOTAL" value="0" />
    <add key="PASS" value="0" />
    <add key="NG" value="0" />
  </appSettings>
</configuration>