<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="QUANLYSANXUATEntities" connectionString="metadata=res://*/QLSXModel.csdl|res://*/QLSXModel.ssdl|res://*/QLSXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIP24;initial catalog=QUANLYSANXUAT;user id=sa;password=umcvn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
