body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-border-button {
    border-bottom: 3px solid orange;
}

.img-logo {
    width: 50px;
    height: 50px;
    border: 3px solid orange;
    border: 3px solid orange !important;
    border-radius: 50%;
    border-radius: 50% !important;
    padding: 5px;
}
.img-logo-admin {
    width: 50px;
    height: 50px;
    border: 3px solid orange;
    border: 3px solid orange !important;
    border-radius: 50%;
    border-radius: 50% !important;
    margin-top: -14px;
}

/* background color for whole container and it's border*/
.my_event {
    background-color: #5B9BE0;
    /*border-bottom: 2px solid red;*/
    color: #fff;
    font-size: 12px;
}

    .my_event div {
        background-color: transparent !important;
        border: none !important;
    }

div.dhx_cal_editor {
    background-color: transparent;
}

/* styles for event content */
.dhx_cal_event.my_event .my_event_body {
    padding-top: 3px;
    padding-left: 5px;
}
/* event's date information */
.my_event .event_date, .tootip_date .event_date {
    font-weight: bold;
    padding-right: 5px;
    color: red;
    /*text-decoration: underline;*/
}

.dhx_scale_bar {
    font-weight: bold;
    font-size: 12px;
}

/*.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar,
.navbar-inverse .navbar-inner {
    filter: none;
    background-image: none;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.nav,
.navbar,
.navbar-inverse .navbar-inner {
    filter: none !important;
    background-image: none;
}*/
.border-top {
    border-top: 1px solid gainsboro;
    padding-top: 10px;
}
.border-buttom {
    border-bottom: 1px solid gainsboro;
    margin: 0px 0px 2px 0px; 
}

.nav-collapse.collapse {
     height: auto !important;
     overflow: visible !important;
}
/*div.dhx_time_block 
.dhx_time_block_reset 
.dhx_marked_timespan*/ 
div.red_section {
    background-color: red;
    text-align: center;
    color: #fff;
    font-size: 18px;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

div.green_section {
            background-color: #77ff77;
            font-size:24px;
            opacity: 0.25;
            filter:alpha(opacity=25);
        } 

/*.fixed-bottom {
    position: fixed;
    bottom: 0;
}*/


@media (max-width: 979px) {
    .sidebar {
        top: 50px;
        /* position: initial; */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: initial !important;
        margin-left: -20px;
        padding-right: 40px;
        height: 100%;
        overflow: auto;
    }
}

.sidebar {
    width: 100px;
    float: left;
    height: 100%;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #F1F1F1;
    border-right: 1px solid #E5E5E5;
}