@{
    ViewBag.Title = "Home";
}
<div class="row">
    @Html.Raw(Model.Render())
    @*<div class="col-lg-12" style="margin-top: 15px;">
        <div class="alert alert-danger" style="margin-left: 35px;">
            <strong>Note!</strong> Form <b>ROOM 1</b> to <b>ROOM 6</b> only for <strong>GA</strong>
        </div>
    </div>*@
</div>
