@{
    ViewBag.Title = "International Call";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="col-lg-12">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Calling from Vietnam go international
            </div>
            <div class="panel-body">
                @*<p>Từ điện thoại bàn (hoặc điện thoại di động) bấm số điện thoại quốc tế :</p>
                <p><strong>1718 + 00 + CC + AC + SN</strong></p>
                <p><strong>1718:&nbsp;</strong>là đầu số truy cập dịch vụ.</></p>
                <p><strong>00:</strong> mã truy nhập gọi đi quốc tế</></p>
                <p><strong>CC (Country Code):&nbsp;</strong>mã nước cần gọi</p> 
                <p><strong>AC (Area code):&nbsp;</strong>mã vùng của nước cần gọi</p> 
                <p><strong>SN (Subscribe Number):&nbsp;</strong>số máy điện thoại cần gọi</p>
                <h4 style="text-decoration: underline;">Ví dụ:</h4> 
                <p>Bấm số&nbsp;<strong>1718 00 1 303 337 2500</strong>&nbsp;để gọi đến Mỹ.</p>
                <p>
                    <strong style="color: red; font-size: 16px;">Các Quốc Gia khác... <a href="http://fone1718.vn/index.php?m=home&a=giacuoc_chitiet&destname=">(Xem chi tiết)</a></strong>
                </p>*@
                
                <p>From a mobile phone (or cell phone) press the international telephone numbe:</p>
                <p><strong>1718 + 00 + CC + AC + SN</strong></p>
                <p><strong>1718:&nbsp;</strong> is the number of access to the service.</p>
                <p><strong>00:</strong>: international call access code CC</p>
                <p><strong>CC (Country Code):&nbsp;</strong>code to call AC (Area code)</p>
                <p><strong>AC (Area code):&nbsp;</strong>code region of the country should call SN</p>
                <p><strong>SN (Subscribe Number):&nbsp;</strong>phone number should call</p>
                <h4 style="text-decoration: underline;">Example:</h4>
                <p>Press the number of the <strong>1718 000 1 303 337 2500</strong> to call the United States of America.</p>
                <p>
                    <strong style="color: red; font-size: 16px;">Other countries...<a href="http://fone1718.vn/index.php?m=home&a=giacuoc_chitiet&destname=" target="_blank">(View details)</a></strong>
                </p>
            </div>
        </div>
    </div>
</div>
