<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PURCHASEEntities" connectionString="metadata=res://*/VAT.csdl|res://*/VAT.ssdl|res://*/VAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.64.1;initial catalog=PURCHASE;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>