
@{
    ViewBag.Title = "Thống kê - Báo cáo";
    ViewBag.SubTitle = "Dữ liệu báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}
<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#skillsmap" data-toggle="tab"><i class="fa fa-bar-chart"></i> Skills Map</a>
                </li>
                <li>
                    <a href="#checksolder" data-toggle="tab"><i class="fa fa-bar-chart"></i> Báo cáo kiểm tra hàn</a>
                </li>
                <li class="active"><a href="#checkeye" data-toggle="tab"><i class="fa fa-bar-chart"></i> Báo cáo kiểm tra mắt</a></li>
                <li><a href="#olympic" data-toggle="tab"><i class="fa fa-bar-chart"></i> Olympic</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="skillsmap">
                    
                </div>
                <div class="tab-pane" id="checksolder">
                    @Html.Action("CheckSolderPartial")
                </div>
                <div class="active tab-pane" id="checkeye">
                    @Html.Action("CheckEyePartial")
                </div>
                <div class="tab-pane" id="olympic">
                    @Html.Action("OlympicPartial")
                </div>
            </div>
        </div>
    </div>
</div>









