<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IndicateReportMasterEntities" connectionString="metadata=res://*/IndicateReport.csdl|res://*/IndicateReport.ssdl|res://*/IndicateReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CUONG-IT;initial catalog=IndicateReportMaster;persist security info=True;user id=sa;password=umcvn;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IndicateReportEntities" connectionString="metadata=res://*/IndicateReportMaster.csdl|res://*/IndicateReportMaster.ssdl|res://*/IndicateReportMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIP24;initial catalog=passrate;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>