
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OOPS!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/error-style.css" rel="stylesheet" />
    <!-- JQUERY LIBRARY LINKS -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-md-6 col-sm-6 imgSec">
            <div class="icon">
                <div class="victor"></div>
                <div class="animation"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 content">
            <h2 class="heading">OOPS!</h2>
            <p style="text-transform: uppercase">Tôi nghĩ đã xảy ra lỗi.</p>
            <p>
                <small>Chúng tôi rất xin lỗi vì sự cố này. Bạn vui lòng kiểm tra lại đường truyền Internet của máy tính.</small>
                <small>Nếu đèn vẫn báo vẫn sáng, bạn thử nhấn <b style="font-size: 30px; color: red;">F5</b> tải lại trang. Sau đó thử lại.</small>
            </p>
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-alert"></i>
                <small>Nếu vẫn không được, bạn vui lòng liên hệ phòng <b style="font-size: 20px; color: red;">IT</b> để được hỗ trợ một cách nhanh nhất.</small>
                <br/>
                <span class="btn btn-info">
                    <i class="glyphicon glyphicon-phone"></i>
                    2998
                </span>
                <span class="btn btn-info">
                    <i class="glyphicon glyphicon-phone"></i>
                    3140 <b>Mr Chinh</b>
                </span>
                <span class="btn btn-info">
                    <i class="glyphicon glyphicon-phone"></i>
                    3721
                </span>
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-lg">
                <i class="glyphicon glyphicon-home">&nbsp;</i>    
                Quay lại trang chủ
            </a>
        </div>
    </div>
</body>
</html>
