<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <connectionStrings>
    <add name="MESSystemDbContext"
         connectionString="data source=172.28.64.8\MSSQLPVS;initial catalog=UMC_MESDB_TEST;persist security info=True;user id=sa;password=$umcevn123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
