<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="IQCDataEntities" connectionString="metadata=res://*/IQCDataModel.csdl|res://*/IQCDataModel.ssdl|res://*/IQCDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.10.25\QA;initial catalog=barcode_db;user id=sa;password=$umcevn123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LABEL_FUJIEntities" connectionString="metadata=res://*/LabelFujiDataModel.csdl|res://*/LabelFujiDataModel.ssdl|res://*/LabelFujiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.64.1;initial catalog=LABEL_FUJI;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
