<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="EnableEdit" value="1" />
    <add key="PathInput" value="D:\LogData\960K90690\2016-11" />
    <add key="PathOutput" value="C:\LOGPROCESS" />
    <add key="BeginStep" value="STEP01" />
    <add key="EndStep" value="STEP18" />
    <add key="TextContaintOfSerial" value="ZAKURO-L" />
    <add key="TextContaintOfModel" value="F/W Write C:" />
    <add key="CharOfCustomer" value="ROM_FUJ" />
    <add key="CharOfModel" value="K001" />
    <add key="TOTAL" value="0" />
    <add key="PASS" value="0" />
    <add key="NG" value="0" />
  </appSettings>
</configuration>